In [10]:
import datetime as dt
import pandas as pd
import numpy as np

In [11]:
url = 'https://raw.githubusercontent.com/xXKnight-OwlXx/Jupyter/main/fifa_ml/results.csv'

df = pd.read_csv(url)
df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
40834,7/18/2019,American Samoa,Tahiti,8,1,Pacific Games,Apia,Samoa,True
40835,7/18/2019,Fiji,Solomon Islands,4,4,Pacific Games,Apia,Samoa,True
40836,7/19/2019,Senegal,Algeria,0,1,African Cup of Nations,Cairo,Egypt,True
40837,7/19/2019,Tajikistan,North Korea,0,1,Intercontinental Cup,Ahmedabad,India,True
40838,7/20/2019,Papua New Guinea,Fiji,1,1,Pacific Games,Apia,Samoa,True

In [ ]:
# Get list of countires and check for syntax issues
teams = df['teams']
countries = countries.unique()

In [536]:
# Two date formats need consolidation
dates = pd.DataFrame(df['date'])
df['date'] = pd.to_datetime(dates['date'], infer_datetime_format=False)

In [537]:
# Create seperate variable columns for day, month, year
df.insert(1, 'weekday', 0)
df.insert(2, 'month', 0)
df.insert(3, 'year', 0)

# Iterate through df to fill in corresponding values
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

In [538]:
# List of teams and check for problems
countries = df['home_team'].unique()
countries.sort()

In [539]:
# Add columns for home_team_country & away_team_country
df.insert(2, 'home_team_country', df['home_team'])
df.insert(4, 'away_team_country', df['away_team'])

# Replace home_team_country & away_team_country values with appropriate country name
df['home_team_country'].replace({'Ã…land Islands' : 'Finland', 'Abkhazia' : 'Georgia', 'Alderney' : 'British Territory', 
                                                      'American Samoa' : 'American Territory', 'Andalusia' : 'Spain', 'Anguilla' : 'British Territory',
                                                      'Artsakh' : 'Armenia', 'Barawa' : 'Somalia', 'Basque Country' : 'Spain', 'Bermuda' : 'British Territory',
                                                      'Bonaire' : 'Dutch Territory', 'British Virgin Islands' : 'British Territory', 'Brittany' : 'France', 
                                                      'Burma' : 'Myanmar', 'Canary Islands' : 'Spanish Territory', 'Catalonia' : 'Spain', 'Cayman Islands' : 'British Territory', 
                                                      'Central Spain' : 'Spain', 'Chagos Islands' : 'British Territory', 'Chameria' : 'Albania', 'China PR' : 'China', 'Chinese Taipei' : 'Taiwan', 
                                                      'Corsica' : 'France', 'County of Nice' : 'France', 'Crimea' : 'Russia', 'CuraÃ§ao' : 'Curacao', 'Darfur' : 'Sudan', 'East Timor' : 'Timor', 
                                                      'Ellan Vannin' : 'England', 'Falkland Islands' : 'England', 'Faroe Islands' : 'Danish Territory', 'FelvidÃ©k' : 'Slovakia', 'FrÃ¸ya' : 'Norway',
                                                      'GÄƒgÄƒuzia' : 'Moldova', 'Galicia' : 'Spain', 'German DR' : 'Germany', 'Gibraltar' : 'British Territory', 'Gotland' : 'Sweden', 'Gozo' : 'Malta', 
                                                      'Guadeloupe' : 'French Territory', 'Guam' : 'American Territory', 'Guernsey' : 'England', 'Hitra' : 'Norway', 'Iraqi Kurdistan' : 'Iraq', 
                                                      'Isle of Man' : 'England','Isle of Wight' : 'England', 'Jersey' : 'England','KÃ¡rpÃ¡talja' : 'Ukraine', 'Kabylia' : 'Algeria', 'Kernow' : 'England',
                                                      'Madrid' : 'Spain', 'Manchukuo' : 'China', 'Martinique' : 'French Territory', 'Matabeleland' : 'Zimbabwe', 'Mayotte' : 'French Territory', 
                                                      'Menorca' : 'Spanish Territory','Montserrat' : 'British Territory', 'New Caledonia' : 'French Territory', 'North Vietnam' : 'Vietnam','Northern Cyprus' : 'Cyprus', 
                                                      'Northern Ireland' : 'Ireland', 'Northern Mariana Islands' : 'American Terriotry', 'Occitania' : 'France', 'Orkney' : 'Scotland', 'Padania' : 'Italy',
                                                      'Panjab' : 'England', 'Parishes of Jersey' : 'England', 'Provence' : 'France', 'RÃ©union' : 'French Territory', 'Republic of Ireland' : 'Ireland','Republic of St. Pauli' : 'Germany', 
                                                      'Rhodes' : 'Greece', 'Romani people' : 'Romania','Saare County' : 'Estonia', 'Saarland' : 'Germany', 'Saint Helena' : 'British Territory','Saint Martin' : 'French Territory', 
                                                      'Sark' : 'England', 'Shetland' : 'Scotland', 'Silesia' : 'Poland', 'Somaliland' : 'Somalia', 'South Ossetia' : 'Georgia', 'South Sudan' : 'Sudan','St. Pierre & Miquelon' : 'French Territory', 
                                                      'SzÃ©kely Land' : 'Hungary', 'Tahiti' : 'French Territory', 'Tamil Eelam' : 'Sri Lanka', 'Tibet' : 'China', 'Timor-Leste' : 'Timor', 
                                                      'Turks and Caicos Islands' : 'British Territory', 'U.S. Virgin Islands' : 'American Territory', 'United Koreans in Japan' : 'Japan', 
                                                      'Vietnam Republic' : 'Vietnam', 'Wales' : 'England', 'Wallis Islands and Futuna' : 'French Territory', 'Western Armenia' : 'Turkey', 
                                                      'Western Isles' : 'England', 'Yemen DPR' : 'Yemen', 'Ynys MÃ´n' : 'England', 'Yorkshire' : 'England', 'Zanzibar' : 'Tanzania',}, inplace=True)

df['away_team_country'].replace({'Ã…land Islands' : 'Finland', 'Abkhazia' : 'Georgia', 'Alderney' : 'British Territory', 
                                                      'American Samoa' : 'American Territory', 'Andalusia' : 'Spain', 'Anguilla' : 'British Territory',
                                                      'Artsakh' : 'Armenia', 'Barawa' : 'Somalia', 'Basque Country' : 'Spain', 'Bermuda' : 'British Territory',
                                                      'Bonaire' : 'Dutch Territory', 'British Virgin Islands' : 'British Territory', 'Brittany' : 'France', 
                                                      'Burma' : 'Myanmar', 'Canary Islands' : 'Spanish Territory', 'Catalonia' : 'Spain', 'Cayman Islands' : 'British Territory', 
                                                      'Central Spain' : 'Spain', 'Chagos Islands' : 'British Territory', 'Chameria' : 'Albania', 'China PR' : 'China', 'Chinese Taipei' : 'Taiwan', 
                                                      'Corsica' : 'France', 'County of Nice' : 'France', 'Crimea' : 'Russia', 'CuraÃ§ao' : 'Curacao', 'Darfur' : 'Sudan', 'East Timor' : 'Timor', 
                                                      'Ellan Vannin' : 'England', 'Falkland Islands' : 'England', 'Faroe Islands' : 'Danish Territory', 'FelvidÃ©k' : 'Slovakia', 'FrÃ¸ya' : 'Norway',
                                                      'GÄƒgÄƒuzia' : 'Moldova', 'Galicia' : 'Spain', 'German DR' : 'Germany', 'Gibraltar' : 'British Territory', 'Gotland' : 'Sweden', 'Gozo' : 'Malta', 
                                                      'Guadeloupe' : 'French Territory', 'Guam' : 'American Territory', 'Guernsey' : 'England', 'Hitra' : 'Norway', 'Iraqi Kurdistan' : 'Iraq', 
                                                      'Isle of Man' : 'England','Isle of Wight' : 'England', 'Jersey' : 'England','KÃ¡rpÃ¡talja' : 'Ukraine', 'Kabylia' : 'Algeria', 'Kernow' : 'England',
                                                      'Madrid' : 'Spain', 'Manchukuo' : 'China', 'Martinique' : 'French Territory', 'Matabeleland' : 'Zimbabwe', 'Mayotte' : 'French Territory', 
                                                      'Menorca' : 'Spanish Territory','Montserrat' : 'British Territory', 'New Caledonia' : 'French Territory', 'North Vietnam' : 'Vietnam','Northern Cyprus' : 'Cyprus', 
                                                      'Northern Ireland' : 'Ireland', 'Northern Mariana Islands' : 'American Terriotry', 'Occitania' : 'France', 'Orkney' : 'Scotland', 'Padania' : 'Italy',
                                                      'Panjab' : 'England', 'Parishes of Jersey' : 'England', 'Provence' : 'France', 'RÃ©union' : 'French Territory', 'Republic of Ireland' : 'Ireland','Republic of St. Pauli' : 'Germany', 
                                                      'Rhodes' : 'Greece', 'Romani people' : 'Romania','Saare County' : 'Estonia', 'Saarland' : 'Germany', 'Saint Helena' : 'British Territory','Saint Martin' : 'French Territory', 
                                                      'Sark' : 'England', 'Shetland' : 'Scotland', 'Silesia' : 'Poland', 'Somaliland' : 'Somalia', 'South Ossetia' : 'Georgia', 'South Sudan' : 'Sudan','St. Pierre & Miquelon' : 'French Territory', 
                                                      'SzÃ©kely Land' : 'Hungary', 'Tahiti' : 'French Territory', 'Tamil Eelam' : 'Sri Lanka', 'Tibet' : 'China', 'Timor-Leste' : 'Timor', 
                                                      'Turks and Caicos Islands' : 'British Territory', 'U.S. Virgin Islands' : 'American Territory', 'United Koreans in Japan' : 'Japan', 
                                                      'Vietnam Republic' : 'Vietnam', 'Wales' : 'England', 'Wallis Islands and Futuna' : 'French Territory', 'Western Armenia' : 'Turkey', 
                                                      'Western Isles' : 'England', 'Yemen DPR' : 'Yemen', 'Ynys MÃ´n' : 'England', 'Yorkshire' : 'England', 'Zanzibar' : 'Tanzania',}, inplace=True)

Feature Extraction

In [543]:
# Weekday variable
for index, row in df.iterrows():
    date_temp = row['date']

    weekday = dt.datetime.weekday(date_temp)

    df['weekday'][index] = weekday

TypeError: 'getset_descriptor' object is not callable

In [540]:
# Score Differential
df.insert(10, 'score_diff', abs(df['home_score'] - df['away_score']))

# Cumulitive Points

In [ ]:
# Cumulative points by team either home or away
def cumulative_points_by_team(team, df):
    df_subset = df.loc[(df['home_team'] == team) | (df['away_team'] == team)]
    print(df_subset.head())
    
    df_subset[f'cumsum_{team}'] = 0
    
    cumsum_score = 0
    for index, row in df_subset.iterrows():
        game_dict = {df['home_team'][index]:df['home_score'][index],
                    df['away_team'][index]:df['away_score'][index]}
        print(game_dict)
        cumsum_score += game_dict[team]
        print(cumsum_score)
        
        df_subset[f'cumsum_{team}'][index] = cumsum_score

    print(df_subset.head())
    

# testing
result_df = cumulative_points_by_team('England', df)
print(result_df.head())

In [19]:
def create_team_win_column(team, master_df):

    master_df[f'{team}_win'] = 0

    for index, row in master_df.iterrows():
        try:
            team_index = [df['home_team'][index],df['away_team'][index]].index(team)

            opponent_index = 1 if team_index == 0 else 0

            score_values = [df['home_score'][index],df['away_score'][index]]

            if score_values[team_index] > score_values[opponent_index]:
                master_df[f'{team}_win'][index] = 1
        except ValueError as e:
            pass

    return master_df


result_df = create_team_win_column('England',df)

print(result_df.head())

C:\Users\seanm\AppData\Local\Temp/ipykernel_7592/2326349753.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  master_df[f'{team}_win'][index] = 1

         date home_team away_team  home_score  away_score tournament     city  \
0  1872-11-30  Scotland   England           0           0   Friendly  Glasgow
1  1873-03-08   England  Scotland           4           2   Friendly   London
2  1874-03-07  Scotland   England           2           1   Friendly  Glasgow
3  1875-03-06   England  Scotland           2           2   Friendly   London
4  1876-03-04  Scotland   England           3           0   Friendly  Glasgow

    country  neutral  England_win
0  Scotland    False            0
1   England    False            1
2  Scotland    False            0
3   England    False            0
4  Scotland    False            0

In [18]:
i = 1

val = 0 if i == 1 else 0
print(val)

0